params {
  config_profile_description = 'Super Computing Wales'
  config_profile_contact = 'your-email@cardif.ac.uk'
  config_profile_url = 'https://supercomputing.wales/'
}

singularity {
  enabled = true
  autoMounts = true
}

process {
  executor = 'slurm'
  queueSize = 10
  queue = 'compute_amd'
  cpus = 20
  memory = '180 GB'
  time = '72h'
}

executor {
  queueSize=10
}

process {
beforeScript = 'module load singularity-ce/3.11.4'
clusterOptions = '--account=scw2345'
}
