params {
  config_profile_description = 'Super Computing Wales'
  config_profile_contact = 'your-email@cardif.ac.uk'
  config_profile_url = 'https://supercomputing.wales/'
  max_memory = 180.GB
  max_cpus = 20
  max_time = 72.h
}
 
singularity {
  enabled = true
  autoMounts = true
}
 
process {
  executor = 'slurm'
  queue = 'htc'
}

executor {
  queueSize=10
}
 
process {
beforeScript = 'module load singularity-ce/3.11.4'
clusterOptions = '--account=scw1234'
}
